.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

.header-secondary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: flex;
  width: 261px;
  margin-right: 364px;
  justify-content: space-between;
}
.header__nav-item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 2%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item--active {
  color: #2196f3;
  position: relative;
}
.header__nav-item--active::after {
  content: "";
  height: 4px;
  position: absolute;
  background-color: #2196f3;
  bottom: -32px;
  left: 0;
  right: 0;
  border-radius: 2px;
}
.header__nav a:hover, .header__nav a:focus {
  color: #2196f3;
}
.header__contacts {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.header__contacts-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 2%;
  text-decoration: none;
  fill: #757575;
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17, 1.38;
  letter-spacing: 3%;
  text-decoration: none;
  color: #2196f3;
}
.logo__studio-header {
  color: #000000;
}
.logo__studio-footer {
  color: #ffffff;
}

.main-header {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;
}
.main-header__container {
  background-color: #2f303a;
  background-image: url(../images/desktop/Header.jpg);
  box-shadow: inset 0 0 0 300px rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  text-align: center;
  height: 600px;
  margin: 0 auto;
}
.main-header__order-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 6%;
  line-height: 1.875;
  text-align: center;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border: #2196f3;
  height: 50px;
  width: 200px;
}

.lorem-ipsum-list {
  display: flex;
  margin-top: 94px;
  padding-left: 0;
  justify-content: center;
  gap: 30px;
}
.lorem-ipsum-list--div {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-list__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
  margin: 0;
  padding-bottom: 10px;
}
.lorem-ipsum-list__paragraph {
  color: #757575;
  font-size: 1getFS f14;
  line-height: 1.71;
  letter-spacing: 3%;
}

.what-we-do {
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 30px;
}
.what-we-do img {
  display: block;
}
.what-we-do__items {
  position: relative;
}
.what-we-do__items p {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 3%;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-container {
  background-color: #f5f4fa;
}
.team-container ul {
  display: flex;
  padding-inline-start: 0;
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.team__members {
  width: 270px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  text-align: center;
}
.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  padding-bottom: 10px;
  padding-top: 30px;
}
.team__positions {
  color: #757575;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  padding-bottom: 16px;
}

.team__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.team__social-links li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-links li:hover, .team__social-links li:active, .team__social-links li:focus {
  background-color: #2196f3;
}
.team__social-links li:not(:last-child) {
  margin-right: 10px;
}
.team__social-links svg {
  display: inline-flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-links svg:hover, .team__social-links svg:active, .team__social-links svg:focus {
  fill: #ffffff;
}

.client__container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client__logo {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__logo:hover, .client__logo:focus, .client__logo:active {
  border-color: #2196f3;
  fill: #2196f3;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter__btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3%;
  line-height: 1.625;
  text-align: center;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cards {
  padding-top: 50px;
}
.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  justify-content: center;
}
.cards__items {
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.cards__items:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.cards__items img {
  display: block;
}
.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding-top: 49px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9019607843);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 3%;
  text-align: left;
  color: #ffffff;
}
.cards__figcaption-border {
  border-bottom: #eeeeee solid 1px;
  border-left: #eeeeee solid 1px;
  border-right: #eeeeee solid 1px;
  background-color: #ffffff;
  position: relative;
}
.cards__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.cards__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 6%;
  padding-bottom: 20px;
  padding-left: 24px;
}
.cards__items:hover .cards__overlay {
  transform: translateY(0%);
}

.footer {
  height: 252px;
  background-color: #2f303a;
  padding-top: 60px;
}
.footer__address-section {
  display: flex;
  justify-items: left;
}
.footer__address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  padding-top: 20px;
  width: 246px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  text-decoration: none;
  padding-top: 9px;
  justify-content: left;
}
.footer__social-container {
  width: 206px;
  height: 80px;
  margin: 12px 72px auto 70px;
}
.footer__social-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
  padding-bottom: 20px;
}
.footer__social-links {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 10px;
}
.footer__social-links--li {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-links--li:hover, .footer__social-links--li:focus {
  background-color: #2196f3;
}
.footer__social-links--svg {
  display: flex;
  fill: #ffffff;
}
.footer__newsletter {
  margin-top: 12px;
}
.footer__newsletter--input {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  text-align: left;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background: linear-gradient(0deg, rgba(33, 150, 243, 0), rgba(33, 150, 243, 0));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}
.footer__newsletter--input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  text-align: left;
}
.footer__newsletter-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 3%;
  text-align: left;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer__newsletter-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  position: relative;
  top: -1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 6%;
  text-align: center;
  fill: #ffffff;
  display: inline-flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.footer__newsletter-btn:hover {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #f5f4fa;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  cursor: pointer;
}
.modal__close-btn--svg {
  position: relative;
  top: 2.5px;
  right: 3px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 3%;
  text-align: center;
  margin: 40px auto 12px auto;
}
.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1%;
  text-align: left;
  color: #757575;
  position: relative;
}
.modal__label--span {
  display: block;
}
.modal__label--svg {
  content: "";
  position: absolute;
  fill: #212121;
  left: 12px;
  width: 18px;
  height: 18px;
  top: 29px;
}
.modal__label:focus-within .modal__label--svg {
  fill: #2196f3;
}
.modal__input {
  outline: none;
  height: 40px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(21, 0, 138, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within {
  border: 1px solid #2196f3;
}
.modal__textarea {
  width: 448px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5019607843);
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus-within {
  border: 1px solid #2196f3;
}

.terms {
  display: flex;
  gap: 8px;
  position: relative;
}
.terms__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: #757575;
  position: relative;
}
.terms__label::before {
  content: "";
  border: solid 2px #212121;
  border-radius: 2px;
  position: absolute;
  height: 16px;
  width: 16px;
  left: -24px;
  top: 4px;
  display: block;
  z-index: 0;
}
.terms__input {
  appearance: none;
  width: 16px;
  height: 16px;
  left: -24px;
  top: 4px;
  position: absolute;
  z-index: 2;
}
.terms__input:hover {
  cursor: pointer;
}
.terms__input:checked + .terms__label::before {
  background-color: #2196f3;
  border: none;
}
.terms__input:checked + .terms__label svg {
  visibility: visible;
}
.terms__check-icon {
  fill: #ffffff;
  width: 16px;
  height: 14px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: -24px;
  visibility: hidden;
}
.terms__link {
  color: #2196f3;
}

.form-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background: #2196f3;
  border: none;
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
  background: #0f72c4;
}/*# sourceMappingURL=main.css.map */