.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: getColor(mwhite);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: getColor(swhite);
    border: 1px solid getColor(closebtnborder);
    border-radius: 50%;
    cursor: pointer;
    &--svg {
      position: relative;
      top: 2.5px;
      right: 3px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    font-size: getFS(f20);
    font-weight: getFW(w700);
    line-height: getLH(lh115);
    letter-spacing: 3%;
    text-align: center;
    margin: 40px auto 12px auto;
  }
  &__label {
    font-size: getFS(f12);
    line-height: getLH(lh117);
    letter-spacing: 1%;
    text-align: left;
    color: getColor(secondary);
    position: relative;
    &--span {
      display: block;
    }
    &--svg {
      content: "";
      position: absolute;
      fill: getColor(mblack);
      left: 12px;
      width: 18px;
      height: 18px;
      top: 29px;
    }
    &:focus-within .modal__label--svg {
      fill: getColor(main);
    }
  }

  &__input {
    outline: none;
    height: 40px;
    width: 448px;
    border-radius: 4px;
    border: 1px solid getColor(form-input);
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-within {
      border: 1px solid getColor(main);
    }
  }

  &__textarea {
    width: 448px;
    border-radius: 4px;
    outline: none;
    border: 1px solid getColor(textareaborder);
    margin-top: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 1%;
    color: getColor(secondary50);
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-within {
      border: 1px solid getColor(main);
    }
  }
}

.terms {
  display: flex;
  gap: 8px;
  position: relative;
  &__label {
    font-size: getFS(f14);
    line-height: getLH(lh171);
    letter-spacing: 3%;
    color: getColor(secondary);
    position: relative;
    &::before {
      content: "";
      border: solid 2px getColor(mblack);
      border-radius: 2px;
      position: absolute;
      height: 16px;
      width: 16px;
      left: -24px;
      top: 4px;
      display: block;
      z-index: 0;
    }
  }

  &__input {
    appearance: none;
    width: 16px;
    height: 16px;
    left: -24px;
    top: 4px;
    position: absolute;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
  }

  &__input:checked + &__label::before {
    background-color: getColor(main);
    border: none;
  }
  &__input:checked + &__label svg {
    visibility: visible;
  }
  &__check-icon {
    fill: getColor(mwhite);
    width: 16px;
    height: 14px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: -24px;
    visibility: hidden;
  }

  &__link {
    color: getColor(main);
  }
}
.form-btn {
  height: 50px;
  width: 200px;
  border-radius: 4px;

  background: getColor(main);
  border: none;
  margin-top: 30px;
  color: getColor(mwhite);
  font-size: getFS(f16);
  font-weight: getFW(w700);
  line-height: getLH(lh1875);
  letter-spacing: 0.06em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    background: getColor(maindarker);
  }
}
