.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  &-border {
    border-bottom: 1px solid getColor(headerbottomline);
  }
  &__nav {
    display: flex;
    width: 261px;
    margin-right: 364px;
    justify-content: space-between;
    &-item {
      color: getColor(mblack);
      font-weight: getFW(w500);
      font-size: getFS(f14);
      line-height: getLH(lh117);
      letter-spacing: 2%;
      text-decoration: none;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &--active {
        color: getColor(main);
        position: relative;
        &::after {
          content: "";
          height: 4px;
          position: absolute;
          background-color: getColor(main);
          bottom: -32px;
          left: 0;
          right: 0;
          border-radius: 2px;
        }
      }
    }
    & a:hover,
    & a:focus {
      color: getColor(main);
    }
  }
  &__contacts {
    display: flex;
    gap: 30px;
    align-items: baseline;
    &-link {
      color: getColor(secondary);
      font-weight: getFW(w500);
      font-size: getFS(f14);
      line-height: getLH(lh117);
      letter-spacing: 2%;
      text-decoration: none;
      fill: getColor(secondary);
      display: flex;
      gap: 10px;
      align-items: center;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: getColor(main);
        fill: getColor(main);
      }
    }
  }
}
