.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  row-gap: 15px;
  padding-left: 0;
  

  &__btn {
    border: none;
    font-weight: getFW(w500);
    font-size: getFS(f16);
    letter-spacing: 3%;
    line-height: getLH(lh1625);
    text-align: center;
    background-color: getColor(swhite);
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &--all {
      width: 103px;
      
    }
    &--sites {
      width: 128px;
    }
    &--aps {
      width: 145px;
    }
    &--design {
      width: 103px;
    }
    &--marketing {
      width: 130px;
    }
    &:hover,
    &:focus {
      color: getColor(mwhite);
      background-color: getColor(main);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    &__btn {
      &--all {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    &__btn {
      &--all {
        width: 121px;
              }
      &--sites {
        width: 93px;
      }
      &--aps {
        width: 114px;
      }
      &--design {
        width: 91px;
      }
      &--marketing {
        width: 121px;
      }
    }
  }
}
// }
// .filter {
//   display: flex;
//   justify-content: center;
//   gap: 8px;

//   &__btn {
//     border: none;
//     font-weight: getFW(w500);
//     font-size: getFS(f16);
//     letter-spacing: 3%;
//     line-height: getLH(lh1625);
//     text-align: center;
//     background-color: getColor(swhite);
//     padding: 6px 22px;
//     border-radius: 4px;
//     transition-property: background-color, color, box-shadow;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       color: getColor(mwhite);
//       background-color: getColor(main);
//       box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
//       box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
//       box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
//       cursor: pointer;
//     }
//   }
// }
